.laptopPos{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 50vh;
  }
  .file{
    animation: transfer 1s linear infinite;
  }
  @keyframes transfer{
    0%{
      transform: translateX(-50vw);
    }
    20%{
      transform: translateX(0);
    }
    40%{
      transform: translateX(50vw);
    }
    60%{
      transform: translateX(100vw);
    }
    80%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-50vw);
    }
  }
  